<%=include('./common/commonLinks.html')(it, opt)%>
<%=include('./common/header.html')(it, opt)%>
        <div class="navbar navbar-fixed-top">
           <span id="return-btn" class="navbar-top-btn navbar-btn-absolute-left">返回</span>
           <div class="navbar-title">健康资讯</div>
           <span id="share-btn" class="iconfont navbar-top-btn navbar-btn-absolute-right">&#xe6b7;</span>
        </div>
      <div class="content">
            <div class="article-detail-content">
                 <div class="article-detail-header">
                    <h2 class="article-detail-title"><%= it.item.title%></h2>
                </div>
                <div class="article-detail-img">
                    <img src="img/article-<%= it.item.type%>.jpg" alt="" class="slide-img">
                </div>
                <div class="article-detail-info">
                      <span class="iconfont">&#xe610;</span>
                      <span class="article-type"><%= it.item.author%></span>
                      <span class="iconfont">&#x3433;</span>
                      <span class="article-readNum"><%= it.item.createTime%></span>
                </div>
                <div class="article-detail-description">
                    <%= it.item.content%>
                  
                </div>

                <div class="page-panel">
                    <div class="prevpage nearLink">上一篇：无</div>
                    <div class="nextpage nearLink">下一篇：无</div>
                </div>
             
            </div>
        
          

      
        
      </div>

      <div class="footer flexbox navbar-fixed-bottom">
            <div class="footer-btn  box-flex-1" >
                  <div class="navbar-btn-icon iconfont" id="collect-btn">&#xe65c;</div>
                  <span class="navbar-btn-name">收藏</span>
            </div>
            <div class="footer-btn box-flex-1" >
                  <div class="navbar-btn-icon iconfont" id="evaluate-btn">&#xe61b;</div>
                  <span class="navbar-btn-name">评分</span>

            </div>

            <div class="evaluate-panel">
                <div class="flexbox">
                    <div class="evaluate-item box-flex-1">
                      <div class="iconfont">&#xf0133;</div>
                      <span class="evaluate-item-num">123</span>
                    </div>
                    <div class="evaluate-item box-flex-1">
                      <div class="iconfont">&#xf011d;</div>
                      <span class="evaluate-item-num">23</span>
                    </div>
                    <div class="evaluate-item box-flex-1">
                      <div class="iconfont">&#xf014e;</div>
                      <span class="evaluate-item-num">23</span>
                    </div>
                    <div class="evaluate-item box-flex-1">
                      <div class="iconfont">&#xf0120;</div>
                      <span class="evaluate-item-num">5</span>
                    </div>
              
                </div>
              
            </div>
           
      </div>


<%=include('./common/scriptLink.html')(it, opt)%>
<script type="text/javascript">
    require.config({
        baseUrl : 'js/article-detail/'
    });
    require(['main'], function (articleWrite) {
        articleWrite.init();
    });
</script>
<%=include('./common/footer.html')(it, opt)%>