<%=include('./common/commonLinks.html')(it, opt)%>
<%=include('./common/header.html')(it, opt)%>
        <div class="navbar navbar-fixed-top">
           <span id="return-btn" class="navbar-top-btn navbar-btn-absolute-left">返回</span>
           <div class="navbar-title">资讯分类</div>
        </div>
      <div class="content">
            <div id="search-panel" class="article-search-panel">
              <div class="select_box">
                 <span>选择类别</span>
                 <select name="type" id="">
                      <option value="-1">全部</option>
                      <option value="1">药品理疗</option>
                      <option value="2">疾病困障</option>
                      <option value="3">健康养生</option>
                      <option value="4">医疗知识</option>
                      <option value="5">综合</option>
                 </select>
              </div>
              <div class="select_box">
                    <span>选择时间</span>
                     <select class="article-createTime" name="createTime" >
                          <option value="-1">所有时间</option>
                          <option value="7">最近一周</option>
                          <option value="21">最近三周</option>
                     </select>

              </div>
           
               <input type="text" name="title" id="search-input" placeholder="请输入搜索的文章标题等">
               <span id="searchBtn" class="search-icon iconfont">&#xf0011;</span>
          </div>  
          
          <div class="article-sort-info">
              <span class="iconfont">&#x3436;</span>
              <span class="article-searchType">全部</span>
              <span class="iconfont">&#x3433;</span>
              <span class="article-searchTime">所有时间</span>
          </div>
          <div id="article-wrapper">
              <div id="scroller">
                  <div id="pullDown">
                      <span class="pullDownIcon"></span><span class="pullDownLabel">下拉刷新...</span>
                  </div>

                  <div class="article-list" id="article-list">
                     <!--文章列表、-->

                  </div>
                  <div id="pullUp">
                      <span class="pullUpIcon"></span><span class="pullUpLabel">上拉加载更多...</span>
                  </div>

              </div>
          </div>


      </div>

        <%=include('./common/scriptLink.html')(it, opt)%>
        <script src="js/iscroll.js"></script>
        <script type="text/javascript">
            require.config({
                baseUrl : 'js/article-sort/'
            });
            require(['main'], function (articleWrite) {
                articleWrite.init();
            });
        </script>
        <%=include('./common/footer.html')(it, opt)%>