<!doctype html>

<html>

    <head>
        <meta charset="utf-8">
        <!-- 加入响应式布局 -->
        <meta name="format-detection" content="telephone=no,email=no"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>

        <!-- 设置safari的属性 -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Remote Camera" />

        <title>掌上医疗</title>

        <link href="css/style.css" rel="stylesheet">
    </head>

    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-title">疾病咨询</div>
            <span id="return-btn" class="navbar-top-btn navbar-btn-absolute-left">首页</span>
        </div>
      
      <div class="content" id="doctor-bank-content">
          <div id="search-panel" >
              <div class="select_box">
                  <span style="margin-right:40px;">性别</span> 
                  <label for="">男</label>
                  <input type="radio" value="man" name="sex">
                   <label for="">女</label>
                  <input type="radio" value="man" name="sex">
              </div>
              <div class="select_box">
                  <span>我的年龄</span>
                  <input type="text" placeholder="年龄">
              </div>
              <div class="select_box">
                 <span>病状描述</span>
                 <textarea class="disease-description"></textarea>
              </div>
            

              <div>
                  <a href="">
                      <div class="ask-submit-btn">确认提问</div>
                  </a>    
                  
              </div>
             
          </div>  
  
            <div class="ask-title">
            <span class="iconfont">&#xf00c8;</span><span>用户咨询</span>
          </div>
          <div class="doctor-ask-question-panel">
            <div class="doctor-ask-question-tr">
                <a href="doctor-askQuestion-detail.html">
                    <div class="asked-user">
                        <span class="ask-user-account">159******5</span>提问:

                    </div>
                    <div class="asked-user-info">
                        问题<span class="asked-user-question">误吃了精神病院半年,排完毒之后还会有影响吗?</span>
                        <span class="asked-user-sexAndAge">(女,19)</span>
                    </div>
                </a>
               
            </div>
            <div class="doctor-ask-question-tr">
                <a href="doctor-askQuestion-detail.html">
                    <div class="asked-user">
                        <span class="ask-user-account">159******5</span>提问:

                    </div>
            
                    <div class="asked-user-info">
                        问题<span class="asked-user-question">误吃了精神病院半年,排完毒之后还会有影响吗?</span>
                        <span class="asked-user-sexAndAge">(女,19)</span>
                    </div>
                </a>
               
            </div>
            <div class="doctor-ask-question-tr">
                <a href="doctor-askQuestion-detail.html">
                    <div class="asked-user">
                        <span class="ask-user-account">159******5</span>提问:

                    </div>
              
                    <div class="asked-user-info">
                        问题<span class="asked-user-question">误吃了精神病院半年,排完毒之后还会有影响吗?</span>
                        <span class="asked-user-sexAndAge">(女,19)</span>
                    </div>
                </a>
               
            </div>
            <div class="doctor-ask-question-tr">
                <a href="doctor-askQuestion-detail.html">
                    <div class="asked-user">
                        <span class="ask-user-account">159******5</span>提问:

                    </div>
              
                    <div class="asked-user-info">
                        问题<span class="asked-user-question">误吃了精神病院半年,排完毒之后还会有影响吗?</span>
                        <span class="asked-user-sexAndAge">(女,19)</span>
                    </div>
                </a>
               
            </div>
            <div class="doctor-ask-question-tr">
                <a href="doctor-askQuestion-detail.html">
                    <div class="asked-user">
                        <span class="ask-user-account">159******5</span>提问:

                    </div>
                 
                    <div class="asked-user-info">
                        问题<span class="asked-user-question">误吃了精神病院半年,排完毒之后还会有影响吗?</span>
                        <span class="asked-user-sexAndAge">(女,19)</span>
                    </div>
                </a>
               
            </div>
           
          </div>
        
       
        
      </div>


        <%=include('./common/scriptLink.html')(it, opt)%>
        <script src="js/askQuestion/main.js"></script>
    </body>




</html>    