<!doctype html>

<html>

    <head>
        <meta charset="utf-8">
        <!-- 加入响应式布局 -->
        <meta name="format-detection" content="telephone=no,email=no"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>

        <!-- 设置safari的属性 -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Remote Camera" />

        <title>掌上医疗</title>

        <link href="css/style.css" rel="stylesheet">
    </head>

    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-title">咨询记录</div>
            <span id="return-btn" class="navbar-top-btn navbar-btn-absolute-left">返回</span>       
        </div>
      <div class="content">
          <div class="doctor-detail">
              <div class="doctor-detail-info">
                  <div class="doctor-detail-smallpicture">
                      <img src="img/2.jpg" alt="">
                  </div>
                  <div class="doctor-detail-personal-info">
                      <div>
                            <span class="doctor-detail-name">陈国良</span>

                            <span style="font-size:14px;color:#666;" class="doctor-detail-rank">
                             二级甲等医院主治医生
                            </span>
                      </div>

                  
                      <div >
                        <span class="doctor-detail-evaluate-title">推荐指数</span>
                        <span class="doctor-detail-evaluate-score">92</span>
                      </div>  
                  </div>
              </div>
          </div>
          <div class="ask-title">
            <span class="iconfont">&#xf00c8;</span><span>用户咨询</span>
          </div>
          <div class="doctor-ask-question-panel">
            <div class="doctor-ask-question-tr">
                <a href="doctor-askQuestion-detail.html">
                    <div class="asked-user">
                        <span class="ask-user-account">159******5</span>评价:

                    </div>
                    <div class="asked-user-evaluate">
                        <div class="asked-user-evaluate-star">
                            <span class="iconfont">&#xe65c;</span>
                            <span class="iconfont">&#xe65c;</span>
                            <span class="iconfont">&#xe65c;</span>
                            <span class="iconfont">&#xe65c;</span>
                            <span class="iconfont">&#xe65c;</span>
                        </div>
                        <div class="asked-user-evaluate-word">
                           非常谢谢!
                        </div>
                    </div>
                    <div class="asked-user-info">
                        问题<span class="asked-user-question">误吃了精神病院半年,排完毒之后还会有影响吗?</span>
                        <span class="asked-user-sexAndAge">(女,19)</span>
                    </div>
                </a>
               
            </div>
            <div class="doctor-ask-question-tr">
                <a href="doctor-askQuestion-detail.html">
                    <div class="asked-user">
                        <span class="ask-user-account">159******5</span>评价:

                    </div>
                    <div class="asked-user-evaluate">
                        <div class="asked-user-evaluate-star">
                            <span class="iconfont">&#xe65c;</span>
                            <span class="iconfont">&#xe65c;</span>
                            <span class="iconfont">&#xe65c;</span>
                            <span class="iconfont">&#xe65c;</span>
                            <span class="iconfont">&#xe65c;</span>
                        </div>
                        <div class="asked-user-evaluate-word">
                           非常谢谢!
                        </div>
                    </div>
                    <div class="asked-user-info">
                        问题<span class="asked-user-question">误吃了精神病院半年,排完毒之后还会有影响吗?</span>
                        <span class="asked-user-sexAndAge">(女,19)</span>
                    </div>
                </a>
               
            </div>
            <div class="doctor-ask-question-tr">
                <a href="doctor-askQuestion-detail.html">
                    <div class="asked-user">
                        <span class="ask-user-account">159******5</span>评价:

                    </div>
                    <div class="asked-user-evaluate">
                        <div class="asked-user-evaluate-star">
                            <span class="iconfont">&#xe65c;</span>
                            <span class="iconfont">&#xe65c;</span>
                            <span class="iconfont">&#xe65c;</span>
                            <span class="iconfont">&#xe65c;</span>
                            <span class="iconfont">&#xe65c;</span>
                        </div>
                        <div class="asked-user-evaluate-word">
                           非常谢谢!
                        </div>
                    </div>
                    <div class="asked-user-info">
                        问题<span class="asked-user-question">误吃了精神病院半年,排完毒之后还会有影响吗?</span>
                        <span class="asked-user-sexAndAge">(女,19)</span>
                    </div>
                </a>
               
            </div>
            <div class="doctor-ask-question-tr">
                <a href="doctor-askQuestion-detail.html">
                    <div class="asked-user">
                        <span class="ask-user-account">159******5</span>评价:

                    </div>
                    <div class="asked-user-evaluate">
                        <div class="asked-user-evaluate-star">
                            <span class="iconfont">&#xe65c;</span>
                            <span class="iconfont">&#xe65c;</span>
                            <span class="iconfont">&#xe65c;</span>
                            <span class="iconfont">&#xe65c;</span>
                            <span class="iconfont">&#xe65c;</span>
                        </div>
                        <div class="asked-user-evaluate-word">
                           非常谢谢!
                        </div>
                    </div>
                    <div class="asked-user-info">
                        问题<span class="asked-user-question">误吃了精神病院半年,排完毒之后还会有影响吗?</span>
                        <span class="asked-user-sexAndAge">(女,19)</span>
                    </div>
                </a>
               
            </div>
            <div class="doctor-ask-question-tr">
                <a href="doctor-askQuestion-detail.html">
                    <div class="asked-user">
                        <span class="ask-user-account">159******5</span>评价:

                    </div>
                    <div class="asked-user-evaluate">
                        <div class="asked-user-evaluate-star">
                            <span class="iconfont">&#xe65c;</span>
                            <span class="iconfont">&#xe65c;</span>
                            <span class="iconfont">&#xe65c;</span>
                            <span class="iconfont">&#xe65c;</span>
                            <span class="iconfont">&#xe65c;</span>
                        </div>
                        <div class="asked-user-evaluate-word">
                           非常谢谢!
                        </div>
                    </div>
                    <div class="asked-user-info">
                        问题<span class="asked-user-question">误吃了精神病院半年,排完毒之后还会有影响吗?</span>
                        <span class="asked-user-sexAndAge">(女,19)</span>
                    </div>
                </a>
               
            </div>
           
          </div>

            
        </div>
          
        


    
    
    <script src="./script/jquery.min.js"></script>
    <script src="./script/doctor-askQuestion.js"></script>
    </body>
    


</html>    