<%=include('./common/commonLinks.html')(it, opt)%>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-title">医生库</div>
            <span id="return-btn" class="navbar-top-btn navbar-btn-absolute-left">首页</span>
           <span  id="choose-btn" class="navbar-top-btn navbar-btn-absolute-right">筛选</span>
         
        </div>
      
      <div class="content" id="doctor-bank-content">
          <div id="search-panel" class="doctorBank-search-panel">
              <div class="select_box">
                 <span>选择地区</span>
                 <input name="city" type="text" placeholder="请输入搜索的城市"/>
              </div>
              <div class="select_box">
                 <span>选择科室</span>
                 <select name="direction" id="">
                      <option value="-1">全部</option>
                      <option value="1">皮肤科</option>
                      <option value="2">小儿科</option>
                      <option value="3">内科</option>
                      <option value="4">外科</option>
                      <option value="5">口腔科</option>
                 </select>
              </div>

           
               <input type="text" id="search-input" placeholder="请输入搜索的医生姓名等">
               <span class="search-icon iconfont">&#xf0011;</span>
          </div>  
  

          <div id="doctor-wrapper">
              <div id="scroller">
                  <div id="pullDown">
                      <span class="pullDownIcon"></span><span class="pullDownLabel">下拉刷新...</span>
                  </div>
                  <div class="doctor-list" id="doctor-list">

                  </div>
                  <div id="pullUp">
                      <span class="pullUpIcon"></span><span class="pullUpLabel">上拉加载更多...</span>
                  </div>
              </div>    
          </div>
       
        
      </div>



    <%=include('./common/scriptLink.html')(it, opt)%>
    <script src="js/iscroll.js"></script>

    <script type="text/javascript">
            require.config({
                baseUrl : 'js/doctor-bank/'
            });
            require(['main'], function (articleWrite) {
                articleWrite.init();
            });
        </script>
    </body>
    


</html>    