<%=include('./common/commonLinks.html')(it, opt)%>
<div class="navbar navbar-fixed-top">
    <div class="navbar-title"><%= it.pageTitle%></div>
    <span id="return-btn" class="navbar-top-btn navbar-btn-absolute-left">返回</span>
</div>

      
      <div class="content" id="doctor-bank-content">

          <div class="ask-title">
            <span class="iconfont">&#xf00c8;</span><span>用户咨询</span>
          </div>
          <div class="doctor-ask-question-panel">
              <% for(var i = 0 ; i< it.items.length; i++){
                var sexText = {
                    0 : "男",
                    1 : "女"
                };
              %>
            <div class="doctor-ask-question-tr">
                <a href="doctor-askQuestion-detail.html">
                    <div class="asked-user">
                        <span class="ask-user-account"><%= it.items[i].user_account%></span>提问:

                    </div>
                    <div class="asked-user-info">
                        问题: <span class="asked-user-question"><%= it.items[i].question%></span>
                        <div>
                            <span class="asked-user-sexAndAge">(<%= sexText[it.items[i].sex]%>,<%= it.items[i].age%>)</span>
                            <span style="float: right;">200人回答了该问题</span>
                        </div>

                    </div>
                </a>
              <% }%>
            </div>

           
          </div>
        
       
        
      </div>



<%=include('./common/scriptLink.html')(it, opt)%>
<script type="text/javascript">
    require.config({
        baseUrl : 'js/question-answer/'
    });
    require(['main'], function (articleWrite) {
        articleWrite.init();
    });
</script>
</body>
</html>