<%=include('./common/commonLinks.html')(it, opt)%>
<%=include('./common/header.html')(it, opt)%>
      
        <div class="content">
            <div class="flexbox account-btn-panel">
                <a class="box-flex-1" href="register.html">
                     <div class="register-btn account-btn">注册</div>
                </a>
              
                <a class="box-flex-1" href="login.html">
                  <div class="box-flex-1 login-btn account-btn">登陆</div> 
                </a>
                <a class="box-flex-1" href="login.html">
                  <div class="box-flex-1 modify-pwd-btn account-btn">修改密码</div> 
                </a>
                
            </div>

        </div>




    <%=include('./common/scriptLink.html')(it, opt)%>

     <%=include('./common/doctor-footer.html')(it, opt)%>