<%=include('./common/commonLinks.html')(it, opt)%>
<div class="navbar navbar-fixed-top">
    <div class="navbar-title"><%= it.pageTitle%></div>
    <span id="return-btn" class="navbar-top-btn navbar-btn-absolute-left">返回</span>
</div>
      
        <div class="content">

            <div class="register-panel">
                <div>
                    <h3 style="text-align:center; line-height: 50px;">填写注册信息</h3>
                      <div class="input_box">
                              <span>账号</span>
                              <input name="account" type="text">
                      </div>
                      <div class="input_box">
                              <span>姓名</span>
                              <input name="name" type="text">
                      </div>

                       <div class="input_box">
                               <span>密码</span>
                              <input name="password" type="text">
                      </div>
                       <div class="input_box">
                               <span>用户类型</span>
                               <select name="type">
                                  <option value="0">普通用户</option>
                                  <option value="1">医生</option>
                               </select>
                      </div>
                       <div class="input_box">

                              <div id="registerBtn" class="btn">确认</div>
                      </div>

                </div>
              
            </div>
        </div>




        <%=include('./common/scriptLink.html')(it, opt)%>
        <script src="js/iscroll.js"></script>

        <script type="text/javascript">
            require.config({
                baseUrl : 'js/register/'
            });
            require(['main'], function (articleWrite) {
                articleWrite.init();
            });
        </script>
    </body>



</html>    