<!doctype html>

<html>

    <head>
        <meta charset="utf-8">
        <!-- 加入响应式布局 -->
        <meta name="format-detection" content="telephone=no,email=no"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>

        <!-- 设置safari的属性 -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Remote Camera" />

        <title>掌上医疗</title>

        <link href="css/style.css" rel="stylesheet">
    </head>

    <body>
        <div class="search-container">
          
        </div>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-title">医生库</div>
            <span id="return-btn" class="navbar-top-btn navbar-btn-absolute-left">首页</span>
           <span class="navbar-top-btn navbar-btn-absolute-right">筛选</span>
         
        </div>
      <div class="content">
          <div id="search-panel">
               <input type="text" id="search-input" placeholder="请输入搜索的医生姓名等">
               <span class="search-icon iconfont">&#xf0011;</span>
        
      </div>

      <div class="navbar flexbox navbar-fixed-bottom">
            <div class="navbar-btn  box-flex-1 ">
                <a href="index.html">
                      <div class="navbar-btn-icon iconfont ">&#xe607;</div>
                      <span class="navbar-btn-name">首页</span>
                </a>
            </div>
             <div class="navbar-btn box-flex-1">
                <a href="search.html">
                    <div class="navbar-btn-icon iconfont">&#xf0011;</div>
                    <span class="navbar-btn-name">自查</span>
                </a>
            </div>

        </div>          
    
    <script src="./script/jquery.min.js"></script>
    <script src="./healthy_news.js"></script>
    </body>
    


</html>    