<div class="footer flexbox navbar-fixed-bottom">
    <div class="footer-btn  box-flex-1 navbar-btn-current">
        <a href="doctor-index.html">
            <div class="navbar-btn-icon iconfont ">&#xe607;</div>
            <span class="navbar-btn-name">聊天</span>
        </a>
    </div>
    <div class="footer-btn  box-flex-1">
        <a href="article-write.html">
            <div class="navbar-btn-icon iconfont">&#xf0011;</div>
            <span class="navbar-btn-name">文章管理</span>
        </a>
    </div>
    <div class="footer-btn  box-flex-1">
        <a href="doctor-accountCenter.html">
            <div class="navbar-btn-icon iconfont">&#xe610;</div>
            <span class="navbar-btn-name">个人中心</span>
        </a>
    </div>

</div>
</body>
</html>