<div class="footer flexbox navbar-fixed-bottom">
    <div class="footer-btn  box-flex-1 <%= it.index=='index'?'navbar-btn-current':''%> ">
        <a href="index.html">
            <div class="navbar-btn-icon iconfont ">&#xe607;</div>
            <span class="navbar-btn-name">首页</span>
        </a>
    </div>
    <div class="footer-btn  box-flex-1 <%= it.index=='search'?'navbar-btn-current':''%>">
        <a href="search.html">
            <div class="navbar-btn-icon iconfont">&#xf0011;</div>
            <span class="navbar-btn-name">自查</span>
        </a>
    </div>
    <div class="footer-btn  box-flex-1 <%= it.index=='article-sort'?'navbar-btn-current':''%>">
        <a href="article-sort.html">
            <div class="navbar-btn-icon iconfont">&#x3433;</div>
            <span class="navbar-btn-name">健康资讯</span>
        </a>
    </div>
    <div class="footer-btn  box-flex-1 <%= it.index=='accountCenter'?'navbar-btn-current':''%>">
        <a href="accountCenter.html">
            <div class="navbar-btn-icon iconfont">&#xe610;</div>
            <span class="navbar-btn-name">个人中心</span>
        </a>
    </div>

</div>
</body>
</html>